/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : May 9, 2014, 1:20:10 PM
    Author     : ideabox
*/
body{
    background: #ebe8de;
font-family: 'Open Sans', sans-serif;
color: #333333;
    
    
}
#headbox{
    background-color: #ebe8de;
    font-family: 'Open Sans', sans-serif;
    border-top: 5px solid #e56038;
    color: #333333;
    position: relative;
width: 100%;

margin: 0 auto 20px auto;
display: block;    
 height: 125px;   
    
}
nav {
float: right;
right: 0;
bottom: 0;

}
#boxcontent article h3 {
font-family: 'Open Sans', sans-serif;
font-size: 20px;
margin-bottom: 10px;
margin-left: 75px;
}
#boxcontent aricle h3{
line-height: 25px;
font-family: 'Open Sans', sans-serif;
margin-left: 75px;
}
#headbox:after{
     content:".";
     display:block;
     clear:both;
     visibility:hidden;
     height:0px;
 }
 nav ul li {
     
display: block;
float: left;
padding-right: 35px;

}
nav ul{
    
    list-style: none;
    margin-bottom: 50px;
}
nav ul li a {
font-family: 'Open Sans', sans-serif;
text-transform: uppercase;
text-decoration: None;
color: black;
}
nav ul  li a:hover {color: #e56038;
    
    
}
header h1 {
margin: 35px 0 0 0;
font-size: 55px;
color: #e56038;
font-family: 'Baumans', cursive;

}
    
header p {
font-family:'Open Sans', sans-serif;
font-size: 16px;
color: #4A463B;
margin-left: 132px;

}
#slider img {
    width: 100%;
    margin-top:-20px;
   }  
   #sin1{
       float: left;
       width: 33%;
      }
   #sin2{
       float: left;
       width: 33%;
       }
   #sin3{
       float: left;
       width: 33%;       
   }
   .wrap{
       max-width: 1140px;
       margin: 0 auto;
       padding: 20px 0;
   }
   #sin img{
        float:left;
        margin-right: 20px;
        }
        #sin h3{
            font-size: 24px;
            margin: 10px 0;
            }
            #sin  p{
            font-size: 18px;
            margin: 10px;
              }
        h2{ 
            font-size: 24px;
            }
            .pp{
                float:left;
                width: 24%;
                margin: 5px;
                 }
                 
                 .pp h3{
                padding: 8px;
                
                line-height: 2;
                }
                #photo{
                    margin-top:20px; 
                    padding-top: 20px;
                   }
                   .roc{
                       float: left;
                       width: 35%;
                       margin-top: 60px;
                       
                   }
                   .para{
                       width: 55%;
                       float: left;
                   }
                       .roc p{
                      
                       
                       margin-top: 30px;
                       
                   }
                 footer{  position: relative;
clear: both;
width: 100%;
height: 350px;
background: #333333;
padding-top: 100px;

}

    .footerbox1{
    width:33%;
    float: left;
    color: white;
    margin-right: 18px;
    border-bottom: 1px solid #444444;
     }
     .footerbox2{
    width:33%;
    float: left;
    color: white;
    text-decoration: none;
    margin-right: 18px;
    border-bottom: 1px solid #444444;
    }
    .footerbox3{
    width:33%;
    float: left;
    color: white;
    margin-right: 18px;
    border-bottom: 1px solid #444444;
    
    }
    .footer{
        font-family: 'Open Sans', sans-serif;
        color: #ababab;
        float: left;


    }
        .footer h3{
        fontsize:20px;
        color: white;
        
    }
      .footerbox2 ul li a {
      color: inherit;
      color: white;
      text-decoration: none;
    
    }
        .footerbox{
        clear:both;
    }
        .footerbox img{
        width: 80px;
        height: 45px;
        
        
    }